:root {
  font-size: 16px;
  font-family: Inter, sans-serif;
  --background-primary: #1f2430;
  --background-secondary: #252b39;
  --color: #767f8d;
  --blu: #3772ff;
  /* --blu: #5EB1BF; */
  --orange: #ff4d00;
  --button-primary: #274af2;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
  background-color: var(--background-primary);
  font-size: 16px;
}

.blu {
  color: var(--blu);
}

.orange {
  color: var(--orange);
}

.Main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main__header .Back,
.Main__header .Home {
  height: 50px;
  cursor: pointer;
}

.Search {
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  outline: none;
  appearance: none;
  border: none;
  border-radius: 5px;
}

.Search input[type="text"] {
  height: 100%;
  width: 65%;
  padding-left: 40px;
}

.Search__Search_icon {
  height: 20px;
  position: relative;
  left: 30px;
}

.Search__Cancel_icon {
  height: 20px;
  position: relative;
  right: 30px;
  cursor: pointer;
}

.Button {
  background-color: var(--button-primary);
  color: white;
  padding: 11px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Button img {
  width: 20px;
  padding-right: 10px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header__container {
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.Header__title {
  font-weight: bold;
  font-size: 32px;
}

.Main__container {
  width: 80%;
  padding: 20px;
}

.Main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.Main__body {
  border: 1px solid var(--blu);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.NoData {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.Card {
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color);
}

.Card span {
  margin-top: 5px;
}

.Card img {
  width: 70px;
  fill: #fff;
}

.Main__body .form {
  padding: 50px 0;
}
input[type="text"],
input[type="datetime-local"],
input[type="date"] {
  height: 30px;
  padding-left: 5px;
}

.Main__body.Dettagli_Evento .form input[type="text"],
.Main__body.Dettagli_Evento .form input[type="datetime-local"],
.Main__body.Dettagli_Evento .form input[type="date"] {
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form span,
.form input {
  margin-bottom: 10px;
}

.form input {
  margin-top: 2px;
}

a,
.form a {
  margin-top: 10px;
}

.Main__body .form a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Error {
  visibility: hidden;
  color: red;
}

.table_link,
.Eventi li a {
  color: var(--color) !important;
}

table {
  margin: 50px 0;
}

table td,
table th {
  padding: 0 10px;
}

table td {
  padding-top: 5px;
}

.text_center {
  text-align: center;
  align-content: center;
}

.errori.text_center span,
.punti.text_center span {
  margin: auto;
}

select,
input[type="number"] {
  width: 100%;
  display: inline;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

.Stats__action .Button,
.Injury__action .Button {
  justify-content: center;
  padding: 0;
}

.Injury__action .Button img,
.Stats__action .Button img {
  width: 20px;
  padding-right: 0;
}

.Injury__action .Button:not(:first-child),
.Stats__action .Button:not(:first-child) {
  margin-left: 15px;
}

.Injury__action,
.Stats__action {
  background-color: var(--button-primary);
  color: white;
  padding: 0 25px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Stats__add_inputs,
.Injury__add_inputs,
.Injury__action_state_2,
.Stats__action_state_2 {
  display: none;
}

.tbl_inj_input,
.tbl_stat_input {
  display: none !important;
  background-color: #e5e596;
}

.Container__atleta {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--blu);
  border-radius: 10px;
}

.Container__atleta .Main__body {
  border: none;
}

.Container__atleta .Dettagli_Atleta,
.Container__atleta .infortuni {
  /* width: 50%; */
  height: 100%;
}

.Container__atleta .Dettagli_Atleta {
  display: flex;
  width: 30%;
}

.infortuni {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

@media (max-width: 1150px) {
  .Container__atleta {
    flex-direction: column;
  }

  .Container__atleta .Dettagli_Atleta,
  .infortuni {
    width: 100%;
  }
}
